.about {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

#blue {
    font-size: 20px;
}

.black {
    float: right;
}

body{
    background-color:skyblue;
}

.books{
    width: 75%;
    height: 500px;
    margin: auto;
}